<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Get place by MAC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css'>
</head>
<style>
    #app {
        text-align: center;
        max-width: 800px;
        margin: auto;
    }
    textarea {
        width: 100%;
        height: 150px;
        max-width: 800px;
    }
    #map {
        margin: auto;
        width: 800px;
        height: 600px;
    }
    .error {
        display: inline-block;
        width: auto;
        padding: 5px;
        background-color: #f44336; /* Red */
        color: white;
        margin: auto;
    }

    @media screen and (max-width: 600px) {
        #map {
            width: 100%;
        }
    }
</style>
<body>
    <div id="app">
        <h1>Get place by MAC</h1>
        <label>Enter MAC or MACs:</label>
        <textarea v-model="mac" width=100></textarea>
        <p v-if="error" class="error">{{ error }}</p>
        <p>{{ n.total - n.errors }} / {{ n.total }}</p>
        <input class='u-full-width' type="button" value="Search" @click="getAllIPs"/>
        <div id="map"></div>
    </div>
</body>
<script>
    String.prototype.replaceAll = function(search, replacement) {
        var target = this;
        return target.split(search).join(replacement);
    };
    const N = 10;
    new Vue({
        el: "#app",
        data: {
            mac: '',
            map: null,
            n: {errors:0, total: 0},
            error: ""
        },
        mounted() {
            ymaps.ready(() => {
                this.map = new ymaps.Map("map", {
                    center: [55.018803, 82.933952],
                    zoom: 9
                });
            });
        },
        methods: {
            getAllIPs: function () {
                let macs = this.mac.split(',');
                if (macs[0].length > 17) {
                    macs = this.mac.split("\n");
                    console.log(macs)
                    if (macs.length === 0) {
                        this.error = 'No MACs found in the input';
                        return;
                    }
                } else {
                    this.error = 'No MACs found in the input';
                    return;
                }
                this.error = "";
                this.n.total += macs.length;
                for (let i = 0; i < macs.length; i++) {
                    this.getIP(macs[i]);
                }
            },
            getIP: function (mac) {
                let url = 'https://cors.io/?https://mobile.maps.yandex.net/cellid_location/?clid=1866854&lac=-1&cellid=-1&operatorid=null&countrycode=null&signalstrength=-1&wifinetworks='+ mac.replaceAll(':','') +':-65&app=ymetro';
                
                axios.get(url).then((resp) => {
                    console.log(resp);
                    let parser = new DOMParser();
                    let xmlDoc = parser.parseFromString(resp.data,"text/xml");
                    let lat = xmlDoc.getElementsByTagName("coordinates")[0].getAttribute("latitude");
                    let long = xmlDoc.getElementsByTagName("coordinates")[0].getAttribute("longitude");
                    var myPlacemark = new ymaps.Placemark([lat, long], {
                        hintContent: mac,
                        balloonContent: mac
                    });
                    this.map.geoObjects.add(myPlacemark);
                }).catch(() => {
                    this.n.errors++;
                })
            }
        }
    })
</script>

</html>